.header{
    animation-name: header-animation;
    animation-duration: 2s;
}

@keyframes header-animation{
    0%{
        transform:translateY(-200px);
    }
    100%{
        transform: translateY();
    }
}

.header__wrapper{
    margin-top: 20px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo{
    cursor: pointer;
}

.menu__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list{
    display: flex;  
    flex-grow: 1;
    flex-basis: 595px;
    flex-shrink: 0;
    justify-content: space-between;
    max-width: 595px;
    width: 100%;    
    font-size: 18px;
    margin-right: 89px;
    transition: top .3s ease-in;
} 

.nav-list__item{
    padding: 5px;
    transition:  all .2s;
}

.nav-list__item:hover{
    background-color: #BAFD37; 
    transform: scale(1.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
}

.nav-list.active {
    top: 100px;
}

.buy-btn{
    margin-left: 90px;
    border: none;
    background-color: #F54329;
    width: 106;
    height: 106px;
    border-radius: 50%;
    padding: 20px;
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    line-height: 50px;
    transform: rotate(19.5deg);
    cursor: pointer;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-name: btn;
    transform-origin: center;
    animation-iteration-count:infinite;
}

@keyframes btn{
    0%{
        transform: rotate(19.5deg);
    }
    50%{
        transform: rotate(-19.5deg);
    }
    100%{
        transform: rotate(19.5deg);
    }
}

.menu__btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
}

.menu__btn-img {
    width: 50px;
    height: 50px;
}


@media (max-width: 1080px){
    .buy-btn {
        margin-left:25px;
    }
    .nav-list{
        flex-basis: auto;
    }
}

@media (max-width: 800px){
    .nav-list{
        position: absolute;
        top: -200px;
        justify-content: space-evenly;
        max-width: 100%;
    }
    .nav-list.active {
        top: 135px;
    }
   
    .menu__btn {
        display: block;
        border: none;
    }
    .menu__btn-img {
        width: 38px;
        height: 38px;
    }
    .buy-btn {
        margin-left:10px;
    }
 
}

@media (max-width: 500px){
    .header__wrapper{
        margin-top: 0;
    }
    .buy-btn{
        margin-left: 5px;
        width: 80px;
        height: 80px;
        padding: 5px;
        font-size: 24px;
    }
    .logo{
    width: 130px;
    }
    .nav-list.active{
        top: 105px;
    }
    .nav-list{
        font-size: 15px;
    }
}